/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(245, 245, 245);
    
    color: #303030;
     font-family: sans-serif 
    
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.article {
    text-align: justify;
}


header {
    color: rgb(70, 70, 70);
    text-align: center;
   font-family: DotGothic16;
}
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.button {

}

.info{
  text-align: center;
  font-family: DotGothic16;
   color: rgb(70, 70, 70);
}

/* specifieke stijlen */

img.zweefLinks {
    float: center;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    font-family: Anton;
}

nav ul li {
    float: center;
}

nav li a {
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 

nav li a:hover {
    background-color: rgb(235, 235, 236);

nav li a.active {
    background-color: skyblue;
}




