* {
  overflow:hidden;
}

div {
  border: 2px solid red;
}
/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(245, 245, 245);
    overflow: visible;
    color: #303030;
     font-family: DotGothic16
    
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.article {
    text-align: justify;
}


header {
    color: rgb(70, 70, 70);
    text-align: center;
   font-family: DotGothic16;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}

.info{
  text-align: center;
  font-family: DotGothic16;
   color: rgb(70, 70, 70);
  
}

.worked{
text-align: center;

color: rgb(70, 70, 70);
}

/* specifieke stijlen */

.img-zweeflinks {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  length: auto;
}

.img-home {

display: block;
  width: 300px;
  padding: 22px;

}

.img2{
float: right;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  length: 200px;
  
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #999999;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.video{
  width: 600px;
  height: 300px;
}

/* navigatiebalk */
nav ul {
    width: fit-content; 
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    font-family: Anton;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 

nav li a:hover {
    background-color: rgb(235, 235, 236);

nav li a.active {
    background-color: skyblue;
}

.fotos {
  display: block;
}



